@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,500|Spartan:100,200,300&display=swap");
$primary: #182c61;
$secondary: #182c61;

$heading: "Spartan", sans-serif;
$paragraph: "Noto Sans JP", sans-serif;
