@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,500|Spartan:100,200,300&display=swap");
$primary: #182c61;
$secondary: #0c2461;

$heading: "Spartan", sans-serif;
$paragraph: "Noto Sans JP", sans-serif;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
