@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,500|Spartan:100,200,300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  text-align: center;
  width: 100vw;
  font-family: "Noto Sans JP", sans-serif;
}
html h1 {
  font-size: 3rem;
  color: #182c61;
  font-family: "Spartan", sans-serif;
  padding-top: 3rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  margin: 2rem;
}

.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin: 2rem;
}

.map {
  height: 400px;
  border-radius: 0.5rem;
}
.map li {
  font-size: 0.7rem;
}
.map a {
  color: #444;
  text-decoration: none;
}
.map .ol-viewport {
  border-radius: 0.5rem;
  border: solid #182c61 2px;
}

#marsGraph .data {
  border: solid black 2px;
}
#marsGraph .bar {
  fill: #0080ff;
}
#marsGraph .bar:hover {
  fill: #003366;
}
#marsGraph .text {
  fill: white;
  font-family: sans-serif;
}

.forecast {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  overflow: auto;
  justify-items: center;
}
.forecast .item {
  width: 200px;
  border: solid #182c61 2px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}
.forecast h2 {
  padding: 1rem 0rem;
  font-size: 1.1rem;
  background-color: #182c61;
  color: #fff;
  align-self: flex-start;
  width: 100%;
  font-weight: 200;
}
.forecast h4 {
  padding-bottom: 1rem;
}
.forecast p {
  font-size: 1rem;
  font-weight: 200;
}
.forecast .forecastConditions {
  height: 40px;
  background-color: #182c61;
  width: 100%;
  padding: 1rem 0rem;
  color: #fff;
  line-height: 1.2rem;
  align-self: flex-end;
}

.earthWeather {
  padding: 2rem 0rem;
  color: white;
  border-radius: 0.5rem;
  border: solid #182c61 2px;
  background: url("https://images.unsplash.com/photo-1548558685-a871f03dd4b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3906&q=80");
}
.earthWeather #marsWeather {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: auto;
  grid-gap: 10px;
  color: #fff;
  justify-content: center;
}
.earthWeather .gridContainer3 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 1rem;
  align-content: center;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #182c61 2px;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.earthWeather img {
  height: auto;
  width: 60%;
  min-width: 100px;
}
.earthWeather .items {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.earthWeather h2 {
  font-size: 2rem;
  font-family: "Spartan", sans-serif;
  font-weight: 200;
}
.earthWeather h3 {
  font-size: 1.6rem;
  margin: 0rem 0rem 1rem 0rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
}
.earthWeather h4 {
  font-size: 1.1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  margin: 0.5rem 0rem;
}
.earthWeather .temp {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 100;
}
.earthWeather .data {
  margin-top: 2rem;
}

#marsGraph {
  border: solid black 2px;
  height: 200px;
}
#marsGraph svg {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: solid black 2px;
}
#marsGraph rect {
  margin: 0 auto;
}

.marsWeather {
  padding: 2rem 0rem;
  color: white;
  border-radius: 0.5rem;
  border: solid #182c61 2px;
  background: url("https://images.unsplash.com/photo-1527826507412-72e447368aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3070&q=80");
}
.marsWeather #marsWeather {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: auto;
  grid-gap: 10px;
  color: #fff;
  justify-content: center;
}
.marsWeather .tempInfo {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid #444 2px;
  border-radius: 0.5rem;
  padding: 1.5rem 0rem;
}
.marsWeather h2 {
  font-size: 2rem;
  font-family: "Spartan", sans-serif;
}
.marsWeather .marsHeading {
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 200;
  margin: 1.5rem 0rem;
}
.marsWeather h3 {
  font-size: 1.2rem;
  font-family: "Noto Sans JP", sans-serif;
}
.marsWeather .temp {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 100;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .gridContainer2 {
    margin: 0.75rem;
  }

  #marsGraph {
    margin: 1rem;
  }

  .earthWeather .gridContainer3 {
    padding: 1rem 1rem;
    grid-template-columns: 1fr;
  }
  .earthWeather .gridContainer3 img {
    width: auto;
  }
}
@media all and (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin: 0.75rem;
  }

  #marsGraph {
    margin: 0.75rem;
  }

  .gridContainer2 {
    margin: 0.75rem;
  }

  .earthWeather .gridContainer3 {
    padding: 1rem 1rem;
    grid-template-columns: 1fr;
  }
  .earthWeather .gridContainer3 img {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
