@import "variables";
@import "reset";

html {
  text-align: center;
  width: 100vw;
  h1 {
    font-size: 3rem;
    color: $secondary;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 2rem;
}

.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.map {
  height: 400px;
  a {
    color: #444;
    text-decoration: none;
  }
}

.data {
  border: solid black 2px;
}

.bar {
  fill: #0080ff;
}

.bar:hover {
  fill: #003366;
}

.text {
  fill: white;
  font-family: sans-serif;
}

#marsGraph {
  border: solid black 2px;
  height: 200px;
  svg {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: solid black 2px;
  }
  rect {
    margin: 0 auto;
  }
}

#marsWeather {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1527826507412-72e447368aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3070&q=80");
  .tempInfo {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: solid #444 2px;
    border-radius: 0.5rem;
  }
}

// ------------------------------------------
//  Responsive Grid Media Queries - 1280, 1024, 768, 480
//   1280-1024   - desktop (default grid)
//   1024-768    - tablet landscape
//   768-480     - tablet
//   480-less    - phone landscape & smaller
// --------------------------------------------
//

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  #marsGraph {
    margin: 1rem;
  }
}

@media all and (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin: 0.5rem;
  }
  #marsGraph {
    margin: 0.5rem;
  }
}
